
<h2 style="margin-top:10px">@ViewBag.Title</h2>
<section style="font-size:1.1em;text-align:justify;">
    <p>

        Inform us about happenings around you, send us articles and make a suggestion by contacting us at:

        <address>
            9jaVote<br />
            www.9javote.com<br />
            +2347035162444,+2347065949717<br />
            admin@9javote.com
        </address>

    </p>
</section>
